<!-- Contact -->

<section id="contact" class="mb-5">

    <h2 class="mb-4">Contact Me</h2>

    <div class="card shadow p-4">

        <p><strong>Email:</strong>@ViewData["Email"]</p>

        <p><strong>Mobile:</strong>@ViewData["Mobile"]</p>

        <p><strong>GitHub:</strong>@ViewData["Github"]</p>

        <p><strong>LinkedIn:</strong>@ViewData["LinkedIn"]</p>

        <p><strong>Facebook:</strong>@ViewData["Facebook"]</p>

        <button class="btn btn-success mt-3">
            @ViewData["Resume"]
        </button>

    </div>

</section>