@{
    ViewData["Title"] = "Home Page";
}

<section id="home" class="mb-5">

    <div class="row align-items-center">

        <div class="col-md-4 text-center">

            <img src="~/images/profile.jpg.jfif"
                 class="img-fluid rounded-circle"
                 width="250"
                 alt="Profile Photo">

        </div>

        <div class="col-md-8">

            <h1>@ViewData["Name"]</h1>

            <h3>@ViewData["Course"]</h3>

            <p>
                @ViewData["Message"]
            </p>

            <a href="#projects" class="btn btn-primary me-2">@ViewData["btnProject"]</a>

            <a href="#contact" class="btn btn-success">@ViewData["btnContact"]</a>

        </div>

    </div>

